.proximamente {
  min-height: 100vh;
  background-color: #000;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  font-family: 'Helvetica Neue', sans-serif;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.backButton {
  margin-top: 2rem;
  background-color:#FF5722 ;/*#e50914*/
  color: white;
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.backButton:hover {
  background-color: #FF7518;/*#f40612*/
}