
.container {
  padding: 12px 0;
  background-color: #1a1a1a;
  color: white;
  text-align: center;
  border-bottom: 1px solid #333;
}

.title {
  font-size: 20px;
  margin-bottom: 6px;
}

.description {
  font-size: 14px;
  color: #aaa;
  margin-bottom: 12px;
}

.moviesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0px;
  padding: 0 1rem 1rem;
  box-sizing: border-box;
}



